# Step 2 - Create Database with Pymongo

In [1]:
# Import Dependencies 
import pandas as pd
import pymongo

## DATA COLLECTION

In [2]:
files = ['Output/q219.csv','Output/q319.csv','Output/q220.csv','Output/q320.csv']
averages = []
lengths = []
trips = []
passholder_type = []
bike_type = []
for file in files:
    
    data_df = pd.read_csv(file, index_col=None)
    averages.append(data_df['duration'].mean())
    lengths.append(len(data_df))
    trips.append(data_df['trip_route_category'].value_counts())
    passholder_type.append(data_df['passholder_type'].value_counts())
    bike_type.append(data_df['bike_type'].value_counts())
    print("calculating....", file)

calculating.... Output/q219.csv
calculating.... Output/q319.csv
calculating.... Output/q220.csv
calculating.... Output/q320.csv

In [3]:
trips_df = pd.DataFrame(trips).T
trips_df.columns =[ "Q2-19","Q3-19","Q2-20","Q3-20"]
trips_df.head()

             Q2-19   Q3-19   Q2-20   Q3-20
One Way     189886  253109  147422  233699
Round Trip   16468   22088   39164   36286

In [4]:
passholder_type_df = pd.DataFrame(passholder_type).T
passholder_type_df.columns =[ "Q2-19","Q3-19","Q2-20","Q3-20"]
passholder_type_df.head()

               Q2-19     Q3-19     Q2-20     Q3-20
Indego30    133344.0  193213.0  129905.0  203931.0
Indego365    37843.0   47471.0   18515.0   30524.0
Day Pass     34197.0   34458.0   38165.0   35530.0
IndegoFlex     851.0      55.0       1.0       NaN
Walk-up         84.0       NaN       NaN       NaN

In [5]:
bike_type_df = pd.DataFrame(bike_type).T
bike_type_df.columns =[ "Q2-19","Q3-19","Q2-20","Q3-20"]
bike_type_df.head()

           Q2-19   Q3-19   Q2-20   Q3-20
standard  193132  215693  138198  209025
electric   13222   59504   48388   60960

In [6]:
duration_avg = pd.DataFrame([averages, lengths])
duration_avg.columns =[ "Q2-19","Q3-19","Q2-20","Q3-20"]
duration_avg.head()

          Q2-19          Q3-19          Q2-20          Q3-20
0      23.67407      26.047871      39.236009      27.292601
1  206354.00000  275197.000000  186586.000000  269985.000000

In [7]:
duration_avg = duration_avg.rename(index ={0:'Average_Duration', 1:'Total_Trips'})

In [8]:
step1_df = passholder_type_df.append(bike_type_df)

In [9]:
step2_df = step1_df.append(duration_avg)

In [10]:
summary_df = step2_df.append(trips_df)

In [11]:
summary_df = summary_df.reset_index()

In [12]:
#summary_df.to_csv('Output/summary_correct.csv')

# Create Database Using Pymongo

In [13]:
#Establish connection to mongo db
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [14]:
#Create the database indego_db
db = client.indego_db

In [15]:
#Setup collections, if collections exist drop them start anew, 
db.summary.drop()

## Summary convert

In [16]:
#Convert pandas dataframe to dictionary, orient as a record, keeps a copy
df_dict = summary_df.to_dict(orient='records').copy()

In [17]:
#Insert the dictionary into collection
db.summary.insert_many(df_dict)

In [18]:
#print documents
cursor = db.summary.find({},limit=2)
for document in cursor:
    print(document)

{'_id': ObjectId('6015a93378e7657a5900dc67'), 'index': 'Indego30', 'Q2-19': 133344.0, 'Q3-19': 193213.0, 'Q2-20': 129905.0, 'Q3-20': 203931.0}
{'_id': ObjectId('6015a93378e7657a5900dc68'), 'index': 'Indego365', 'Q2-19': 37843.0, 'Q3-19': 47471.0, 'Q2-20': 18515.0, 'Q3-20': 30524.0}

## Read Collection into a Dataframe

In [19]:
#Read tripQ219 collection from mongodb into a dataframe tripQ219_df
summary_df = pd.DataFrame(list(db.summary.find({})))
summary_df

,_id,index,Q2-19,Q3-19,Q2-20,Q3-20
0,6015a93378e7657a5900dc67,Indego30,133344.00000,193213.000000,129905.000000,203931.000000
1,6015a93378e7657a5900dc68,Indego365,37843.00000,47471.000000,18515.000000,30524.000000
2,6015a93378e7657a5900dc69,Day Pass,34197.00000,34458.000000,38165.000000,35530.000000
3,6015a93378e7657a5900dc6a,IndegoFlex,851.00000,55.000000,1.000000,NaN
4,6015a93378e7657a5900dc6b,Walk-up,84.00000,NaN,NaN,NaN
5,6015a93378e7657a5900dc6c,standard,193132.00000,215693.000000,138198.000000,209025.000000
6,6015a93378e7657a5900dc6d,electric,13222.00000,59504.000000,48388.000000,60960.000000
7,6015a93378e7657a5900dc6e,Average_Duration,23.67407,26.047871,39.236009,27.292601
8,6015a93378e7657a5900dc6f,Total_Trips,206354.00000,275197.000000,186586.000000,269985.000000
9,6015a93378e7657a5900dc70,One Way,189886.00000,253109.000000,147422.000000,233699.000000
10,6015a93378e7657a5900dc71,Round Trip,16468.00000,22088.000000,39164.000000,36286.000000

In [20]:
db.summary.find({})

In [25]:
#

data = []

for doc in list(db.summary.find()):
    row = {}
    row['index'] = doc['index']
    row['Q2-19'] = doc['Q2-19']
    row['Q2-20'] = doc['Q2-20']
    row['Q3-20'] = doc['Q3-20']
    row['Q3-19'] = doc['Q3-19']
    data.append(row)

print(data)

[{'index': 'Indego30', 'Q2-19': 133344.0, 'Q2-20': 129905.0, 'Q3-20': 203931.0, 'Q3-19': 193213.0}, {'index': 'Indego365', 'Q2-19': 37843.0, 'Q2-20': 18515.0, 'Q3-20': 30524.0, 'Q3-19': 47471.0}, {'index': 'Day Pass', 'Q2-19': 34197.0, 'Q2-20': 38165.0, 'Q3-20': 35530.0, 'Q3-19': 34458.0}, {'index': 'IndegoFlex', 'Q2-19': 851.0, 'Q2-20': 1.0, 'Q3-20': nan, 'Q3-19': 55.0}, {'index': 'Walk-up', 'Q2-19': 84.0, 'Q2-20': nan, 'Q3-20': nan, 'Q3-19': nan}, {'index': 'standard', 'Q2-19': 193132.0, 'Q2-20': 138198.0, 'Q3-20': 209025.0, 'Q3-19': 215693.0}, {'index': 'electric', 'Q2-19': 13222.0, 'Q2-20': 48388.0, 'Q3-20': 60960.0, 'Q3-19': 59504.0}, {'index': 'Average_Duration', 'Q2-19': 23.674069802378437, 'Q2-20': 39.23600913251798, 'Q3-20': 27.292601440820786, 'Q3-19': 26.047871161386208}, {'index': 'Total_Trips', 'Q2-19': 206354.0, 'Q2-20': 186586.0, 'Q3-20': 269985.0, 'Q3-19': 275197.0}, {'index': 'One Way', 'Q2-19': 189886.0, 'Q2-20': 147422.0, 'Q3-20': 233699.0, 'Q3-19': 253109.0}, {'index': 'Round Trip', 'Q2-19': 16468.0, 'Q2-20': 39164.0, 'Q3-20': 36286.0, 'Q3-19': 22088.0}]

In [22]:
list(db.summary.find())

[{'_id': ObjectId('6015a93378e7657a5900dc67'),
  'index': 'Indego30',
  'Q2-19': 133344.0,
  'Q3-19': 193213.0,
  'Q2-20': 129905.0,
  'Q3-20': 203931.0},
 {'_id': ObjectId('6015a93378e7657a5900dc68'),
  'index': 'Indego365',
  'Q2-19': 37843.0,
  'Q3-19': 47471.0,
  'Q2-20': 18515.0,
  'Q3-20': 30524.0},
 {'_id': ObjectId('6015a93378e7657a5900dc69'),
  'index': 'Day Pass',
  'Q2-19': 34197.0,
  'Q3-19': 34458.0,
  'Q2-20': 38165.0,
  'Q3-20': 35530.0},
 {'_id': ObjectId('6015a93378e7657a5900dc6a'),
  'index': 'IndegoFlex',
  'Q2-19': 851.0,
  'Q3-19': 55.0,
  'Q2-20': 1.0,
  'Q3-20': nan},
 {'_id': ObjectId('6015a93378e7657a5900dc6b'),
  'index': 'Walk-up',
  'Q2-19': 84.0,
  'Q3-19': nan,
  'Q2-20': nan,
  'Q3-20': nan},
 {'_id': ObjectId('6015a93378e7657a5900dc6c'),
  'index': 'standard',
  'Q2-19': 193132.0,
  'Q3-19': 215693.0,
  'Q2-20': 138198.0,
  'Q3-20': 209025.0},
 {'_id': ObjectId('6015a93378e7657a5900dc6d'),
  'index': 'electric',
  'Q2-19': 13222.0,
  'Q3-19': 59504.0,
  'Q2-20': 48388.0,
  'Q3-20': 60960.0},
 {'_id': ObjectId('6015a93378e7657a5900dc6e'),
  'index': 'Average_Duration',
  'Q2-19': 23.674069802378437,
  'Q3-19': 26.047871161386208,
  'Q2-20': 39.23600913251798,
  'Q3-20': 27.292601440820786},
 {'_id': ObjectId('6015a93378e7657a5900dc6f'),
  'index': 'Total_Trips',
  'Q2-19': 206354.0,
  'Q3-19': 275197.0,
  'Q2-20': 186586.0,
  'Q3-20': 269985.0},
 {'_id': ObjectId('6015a93378e7657a5900dc70'),
  'index': 'One Way',
  'Q2-19': 189886.0,
  'Q3-19': 253109.0,
  'Q2-20': 147422.0,
  'Q3-20': 233699.0},
 {'_id': ObjectId('6015a93378e7657a5900dc71'),
  'index': 'Round Trip',
  'Q2-19': 16468.0,
  'Q3-19': 22088.0,
  'Q2-20': 39164.0,
  'Q3-20': 36286.0}]