In [1]:
import pandas as pd

In [2]:
q219 = 'Resources/indego-trips-2019-q2.csv'

In [3]:
q219_df = pd.read_csv(q219)

In [4]:
q219_df = q219_df[['trip_id','duration','start_station',
                          'end_station','plan_duration','trip_route_category',
                          'passholder_type','bike_type']]

In [5]:
q219_df.head()

,trip_id,duration,start_station,end_station,plan_duration,trip_route_category,passholder_type,bike_type
0,313067326,8,3027,3119,30.0,One Way,Indego30,standard
1,313067325,16,3037,3053,30.0,One Way,Indego30,standard
2,313067324,12,3026,3157,30.0,One Way,Indego30,standard
3,313067323,5,3026,3007,30.0,One Way,Indego30,standard
4,313067322,4,3034,3068,30.0,One Way,Indego30,standard

In [6]:
q219_df.count()

trip_id                206354
duration               206354
start_station          206354
end_station            206354
plan_duration          206347
trip_route_category    206354
passholder_type        206319
bike_type              206354
dtype: int64

In [24]:
q219_df.to_csv(r'Output\q219')

In [7]:
q319 = 'Resources/indego-trips-2019-q3.csv'

In [8]:
q319_df = pd.read_csv(q319)

In [9]:
q319_df = q319_df[['trip_id','duration','start_station',
                          'end_station','plan_duration','trip_route_category',
                          'passholder_type','bike_type']]

In [10]:
# q319_df.head()

In [11]:
# df2019 = q219_df.merge(q319_df, how = 'outer', on = 'bike_type')

In [12]:
q319_df.count()

trip_id                275197
duration               275197
start_station          275197
end_station            275197
plan_duration          275197
trip_route_category    275197
passholder_type        275197
bike_type              275197
dtype: int64

In [25]:
q319_df.to_csv(r'Output\q319')

In [13]:
q220 = 'Resources/indego-trips-2020-q2.csv'

In [14]:
q220_df = pd.read_csv(q220)

In [15]:
q220_df = q220_df[['trip_id','duration','start_station',
                          'end_station','plan_duration','trip_route_category',
                          'passholder_type','bike_type']]

In [16]:
q220_df.head()

,trip_id,duration,start_station,end_station,plan_duration,trip_route_category,passholder_type,bike_type
0,338689875,9,3086,3163,30,One Way,Indego30,standard
1,338689874,2,3056,3039,30,One Way,Indego30,standard
2,338689873,5,3075,3200,30,One Way,Indego30,electric
3,338690074,19,3101,3009,30,One Way,Indego30,standard
4,338690073,6,3121,3039,30,One Way,Indego30,electric

In [17]:
q220_df.count()

trip_id                186586
duration               186586
start_station          186586
end_station            186586
plan_duration          186586
trip_route_category    186586
passholder_type        186586
bike_type              186586
dtype: int64

In [26]:
q220_df.to_csv(r'Output\q220')

In [18]:
q320 = 'Resources/indego-trips-2020-q3.csv'

In [19]:
q320_df = pd.read_csv(q320)

/Users/kscomputer/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
q320_df = q320_df[['trip_id','duration','start_station',
                          'end_station','plan_duration','trip_route_category',
                          'passholder_type','bike_type']]

In [21]:
q320_df.head()

,trip_id,duration,start_station,end_station,plan_duration,trip_route_category,passholder_type,bike_type
0,345127322,10,3021,3051,365,One Way,Indego365,standard
1,345127320,112,3067,3104,30,One Way,Indego30,electric
2,345127318,111,3067,3104,30,One Way,Indego30,electric
3,345127315,3,3187,3168,30,One Way,Indego30,standard
4,345127313,42,3056,3017,1,One Way,Day Pass,electric

In [22]:
q320_df.count()

trip_id                269985
duration               269985
start_station          269985
end_station            269985
plan_duration          269985
trip_route_category    269985
passholder_type        269985
bike_type              269985
dtype: int64

In [27]:
q320_df.to_csv(r'Output\q320')